body{
background-color: rgb(53, 120, 120);
}

.me-auto > img{
    width: 50%;
    height: 50%;
    margin-left: 35%;

    border: 2px solid;
}

.character-card {
    margin-top: 20px;
    border: 4px solid;
    border-radius: 4px;
    
  }

  .card {
    width: 15rem;
  }

  #character-list-container {
    max-height: 500px;
    overflow-y: auto;
  }

  .number-badge {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffee00;
    color: black;
    padding: 5px;
    border-radius: 0 5 0 5px;
  }